@using OE.SigMod.Services
@using OE.SigMod.Models

@namespace OE.SigMod
@inherits ModuleBase
@inject ISigModService SigModService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

@if (_SigMods == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add SigMod" ResourceKey="Add" />
    <br />
    <br />
    @if (@_SigMods.Count != 0)
    {
        <Pager Items="@_SigMods">
            <Header>
                <th style="width: 1px;">&nbsp;</th>
                <th style="width: 1px;">&nbsp;</th>
                <th>@Localizer["Name"]</th>
            </Header>
            <Row>
                <td><ActionLink Action="Edit" Parameters="@($"id=" + context.SigModId.ToString())" ResourceKey="Edit"  /></td>
                <td><ActionDialog Header="Delete SigMod" Message="@("Are You Sure You Wish To Delete The " + context.Name + " SigMod?")" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await Delete(context))" ResourceKey="Delete"  /></td>
                <td>@context.Name</td>
            </Row>
        </Pager>
    }
    else
    {
        <p>@Localizer["Message.DisplayNone"]</p>
    }
}

@code {
    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" },
        new Resource { ResourceType = ResourceType.Script, Url = ModulePath() + "Module.js" }
    };

    List<SigMod> _SigMods;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _SigMods = await SigModService.GetSigModsAsync(ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading SigMod {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Delete(SigMod SigMod)
    {
        try
        {
            await SigModService.DeleteSigModAsync(SigMod.SigModId, ModuleState.ModuleId);
            await logger.LogInformation("SigMod Deleted {SigMod}", SigMod);
            _SigMods = await SigModService.GetSigModsAsync(ModuleState.ModuleId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting SigMod {SigMod} {Error}", SigMod, ex.Message);
            AddModuleMessage(Localizer["Message.DeleteError"], MessageType.Error);
        }
    }
}